.Dashboardcontainer{
    display: grid;
    grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content,16.66rem) [col-end]) [center-end] 1fr [container-end];
    grid-template-rows: 14vh min-content 20vh;

    @include media-medium{
        grid-template-rows: min-content 20vh;
    }
}

.dashboardheader{
    grid-column: container-start / container-end;
    background-color: lightcoral;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(2.5rem + 1vw);
    position: relative;

    &__bars{
        position: absolute;
        right: -14%;
        top: 4.5px;
        width:5rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color:aquamarine ;
        visibility: hidden;

        @include media-medium{
            visibility: visible;
        
        }

        @include media-small{
            right: -22%;
        }

        @include media-smallest{
            right: -26%;
        }
        // padding: 0.8rem;
        // border: 1rem solid aquamarine;
        &-1,&-2,&-3{
            height: 0.5rem;
            width: 4rem;
            background-color: var(--primary-color);
        }
    }

    @include media-medium{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-100%);

        &__searchBar{
            flex-direction: column;
            // align-items: center;
            width: 90% !important;
            
            input{
                height:3rem !important;
                width: 100%;
                margin: 2rem 0;
            }
            // button{
            //     transform: translateX(-0.8rem);
            // }


        }

        &__optionsContainer{
            height: 60% !important;
            width: 90% !important;
            transform: translateX(1.4rem);

            &--links{
                flex-direction: column;
                // justify-content: space-evenly !important;
                transform: translateY(calc(-2.5rem - 3vh));

                a,li{
                    font-size: 1.8rem !important;
                }

                
            }
        }
    }

    &__searchBar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        height: 45%;

        input{
            margin-right: 1.2rem;
            padding-left: calc(0.7rem + 0.2vw);
            height: 60%;
            letter-spacing: 0.3rem;
            border-radius: 1rem;
            border: none;
        }

        button{
            padding: calc(0.3rem + 0.3vw);
            border-radius: 0.6rem;
            border: none;
            letter-spacing: 0.2rem;
        }
    }

    &__optionsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45%;
        width: 38%;
        &--links{
            display: flex;
            height: 100%;
            width: 100%;
            padding-right: calc(2rem + 1vw);
            align-items: center;
            justify-content: space-between;

            li{
                list-style:none;
                font-family:'Montserrat', sans-serif;
                letter-spacing:0.2rem;
                font-size: calc(1rem + 0.6vw);
                transition: all 0.3s ease-in-out;
                cursor: pointer;

            }

            li:last-child{
                border: 0.2rem solid black;
                padding: calc(0.4rem + 0.2vw)
            }

            li:last-child:hover{
                background-color: #dababa;
                transition: all 0.3s ease-in-out;
            }

        }

    }

}

.dashboardheader-active{
    transform: translateX(0);
}

.body{
    grid-column: container-start / container-end;
    min-height: 86vh;
    background-color: rgb(86, 71, 71);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-auto-rows: min-content;
    grid-gap: calc(1.4rem + 0.5vw);
    // grid-row-gap: calc(2.3rem + 0.5vw);

    justify-items: center;
    // align-content: center;
    align-items: center;
    padding: 1rem 0 calc(3rem + 0.8vh);

    @include media-medium{
        padding-top: calc(4rem + 2vh);
    }

    &__card-container{
        // padding: calc(1.5rem + 1vh);
        padding: calc(1.5rem + 1vh);
        margin:calc(2rem + 3vh) 0 calc(1.5rem + 0.5vw);
        height: 100%;
        border: 0.2rem solid var(--tertiary-color);
        border-radius: 0.6rem;
        
        &--inner{
            height: calc(3.5rem + 0.6vw);

            label{
                font-size: calc(1.3rem + 0.2vw);
                color: coral;
            }
            h2{
                // color:#00FFFF;
                color:aquamarine;
            }

            
            &__input{
                display: flex;
                flex-direction: column;
                input{
                    border: none;
                    border-radius: 0.8rem;
                    padding-left: 0.8rem;
                    letter-spacing: 0.2rem;
                    text-align: center;
                }

                input:first-child{
                    margin-bottom: 0.6rem;
                }
            }
        }

        div:last-child{
            margin-top: 1.2rem;
            width: min-content;
            height: calc(2.5rem + 0.2vw);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            // input{
            //     border: none;
            //     border-radius: 0.4rem;
            //     // height: 3rem;
            //     padding-left: 0.3rem;
            // }
            // &__input{
            //     display: flex;
            //     input{
            //         width: 3rem;
            //         // border: none;
            //         border-radius: 0.8rem;
            //         padding-left: 0.3rem;
            //     }
            // }

            button{
               align-self: center;
               margin-top: calc(0.8rem + 0.2vw);
               padding: 0.3rem;
               width: calc(5rem + 0.3vw);
               border-radius: 0.6rem;
               font-size: calc(1.2rem + 0.3vw);
               background-color: #dababa;
               cursor: pointer;
               border: none;
            }
        }

    }

}




