*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #242582;
  --secondary-color:#fff;
  --tertiary-color:#f64c72;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  font-size: calc(1rem + 0.6vw);
  font-family: 'Montserrat', sans-serif;
  color: var(--secondaty-color);
}

p {
  font-size: 1.5rem;
  color: var(--secondaty-color);
}

.Dashboardcontainer {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: 14vh min-content 20vh;
  overflow-x: hidden;
}

@media screen and (max-width: 780px) {
  .Dashboardcontainer {
    grid-template-rows: min-content 20vh;
  }
}

.dashboardheader {
  grid-column: container-start / container-end;
  background-color: lightcoral;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(2.5rem + 1vw);
  position: relative;
  transition: all 0.4s ease-in-out;
}

.dashboardheader__bars {
  position: absolute;
  right: -14%;
  top: 4.5px;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: aquamarine;
  visibility: hidden;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .dashboardheader__bars {
    visibility: visible;
  }
}

@media screen and (max-width: 600px) {
  .dashboardheader__bars {
    right: -22%;
  }
}

@media screen and (max-width: 400px) {
  .dashboardheader__bars {
    right: -26%;
  }
}

.dashboardheader__bars-1, .dashboardheader__bars-2, .dashboardheader__bars-3 {
  height: 0.5rem;
  width: 4rem;
  background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

.dashboardheader__bars-1-active {
  transform: rotate(45deg) translate(1rem, 1rem);
  transition: transform 0.4s ease-in-out;
}

.dashboardheader__bars-2-active {
  opacity: 0;
  transition: transform 0.4s ease-in-out;
}

.dashboardheader__bars-3-active {
  transform: rotate(-45deg) translate(0.6rem, -1rem);
  transition: transform 0.4s ease-in-out;
}

@media screen and (max-width: 780px) {
  .dashboardheader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
  }
  .dashboardheader__searchBar {
    flex-direction: column;
    width: 90% !important;
  }
  .dashboardheader__searchBar input {
    height: 3rem !important;
    width: 100%;
    margin: 2rem 0;
  }
  .dashboardheader__optionsContainer {
    height: 60% !important;
    width: 90% !important;
    transform: translateX(1.4rem);
  }
  .dashboardheader__optionsContainer--links {
    flex-direction: column;
    transform: translateY(calc(-2.5rem - 3vh));
  }
  .dashboardheader__optionsContainer--links a, .dashboardheader__optionsContainer--links li {
    font-size: 1.8rem !important;
  }
}

.dashboardheader__searchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 45%;
}

.dashboardheader__searchBar input {
  margin-right: 1.2rem;
  padding-left: calc(0.7rem + 0.2vw);
  height: 60%;
  letter-spacing: 0.3rem;
  border-radius: 1rem;
  border: none;
}

.dashboardheader__searchBar button {
  padding: calc(0.3rem + 0.3vw);
  border-radius: 0.6rem;
  border: none;
  letter-spacing: 0.2rem;
}

.dashboardheader__optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 38%;
}

.dashboardheader__optionsContainer--links {
  display: flex;
  height: 100%;
  width: 100%;
  padding-right: calc(2rem + 1vw);
  align-items: center;
  justify-content: space-between;
}

.dashboardheader__optionsContainer--links li {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2rem;
  font-size: calc(1rem + 0.6vw);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.dashboardheader__optionsContainer--links li:last-child {
  border: 0.2rem solid black;
  padding: calc(0.4rem + 0.2vw);
}

.dashboardheader__optionsContainer--links li:last-child:hover {
  background-color: #dababa;
  transition: all 0.3s ease-in-out;
}

.dashboardheader-active {
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.body {
  grid-column: container-start / container-end;
  min-height: 86vh;
  background-color: #564747;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-auto-rows: min-content;
  grid-gap: calc(1.4rem + 0.5vw);
  justify-items: center;
  align-items: center;
  padding: 1rem 0 calc(3rem + 0.8vh);
}

@media screen and (max-width: 780px) {
  .body {
    padding-top: calc(4rem + 2vh);
  }
}

.body__card-container {
  padding: calc(1.5rem + 1vh);
  margin: calc(2rem + 3vh) 0 calc(1.5rem + 0.5vw);
  height: 100%;
  border: 0.2rem solid var(--tertiary-color);
  border-radius: 0.6rem;
}

.body__card-container--inner {
  height: calc(3.5rem + 0.6vw);
}

.body__card-container--inner label {
  font-size: calc(1.3rem + 0.2vw);
  color: coral;
}

.body__card-container--inner h2 {
  color: aquamarine;
}

.body__card-container--inner__input {
  display: flex;
  flex-direction: column;
}

.body__card-container--inner__input input {
  border: none;
  border-radius: 0.8rem;
  padding-left: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.body__card-container--inner__input input:first-child {
  margin-bottom: 0.6rem;
}

.body__card-container div:last-child {
  margin-top: 1.2rem;
  width: min-content;
  height: calc(2.5rem + 0.2vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.body__card-container div:last-child button {
  align-self: center;
  margin-top: calc(0.8rem + 0.2vw);
  padding: 0.3rem;
  width: calc(5rem + 0.3vw);
  border-radius: 0.6rem;
  font-size: calc(1.2rem + 0.3vw);
  background-color: #dababa;
  cursor: pointer;
  border: none;
}
/*# sourceMappingURL=dashboard.css.map */