*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #242582;
  --secondary-color:#fff;
  --tertiary-color:#f64c72;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  font-size: calc(1rem + 0.6vw);
  font-family: 'Montserrat', sans-serif;
  color: var(--secondaty-color);
}

p {
  font-size: 1.5rem;
  color: var(--secondaty-color);
}

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: [top-start] 14vh 86vh 100vh 20vh;
}

.header {
  grid-column: container-start / container-end;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__logo-container {
  height: 70%;
  width: calc(4rem + 4vw);
  background-image: url("./../images/logo/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1.2rem;
}

.header__links {
  display: flex;
  width: 58%;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1.2rem;
}

.header__links--link3 {
  border: 0.2rem solid black;
  padding: 0.8rem;
  transition: all 0.4s ease-in-out;
}

.header__links--link3:hover {
  background-color: #dababa;
  transition: all 0.2s ease-in-out;
}

.home {
  grid-column: container-start / container-end;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__box-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 50%;
  padding: calc(0.4rem + 0.5vw);
}

.home__box-containers--inner1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.home__box-containers--inner1 h1 {
  font-size: calc(3.5rem + 1vw);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3rem;
  line-height: calc(2rem + 3vh);
  color: var(--tertiary-color);
  transform: translateX(-40%);
  opacity: 0;
}

.home__box-containers--inner2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home__box-containers--inner2 h1 {
  font-size: calc(2.5rem + 1vw);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3rem;
  color: var(--tertiary-color);
  transform: translateX(40%);
  opacity: 0;
}

.home__box-containers .h1-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 1.2s ease-in-out;
}

.home .home__box-container-active {
  border: 0.2rem solid var(--tertiary-color);
  transition: all 1.2s ease-in-out;
}

.login-signup {
  grid-column: container-start / container-end;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup__container {
  width: calc(36% + 7vw);
  height: calc(44% + 4vh);
  background-color: #564747;
  overflow: hidden;
}

@media screen and (max-width: 420px) {
  .login-signup__container {
    width: 57%;
  }
}

.login-signup__container-inner {
  height: 100%;
  width: 200%;
  display: flex;
  transition: all 0.8s ease-in-out;
}

.login-signup__container-inner-login, .login-signup__container-inner-signup {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-signup__container-inner-login {
  padding: calc(0.5rem + 0.5vw);
}

.login-signup__container-inner-login__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  border-bottom: 0.2rem solid black;
}

.login-signup__container-inner-login__header h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1.5rem + 0.5vw);
}

.login-signup__container-inner-login__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-signup__container-inner-login__fields--name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: calc(0.4rem + 0.2vw);
}

.login-signup__container-inner-login__fields--name label {
  font-size: calc(1.8rem + 0.1vw);
  letter-spacing: 0.2rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 1.2rem;
}

.login-signup__container-inner-login__fields--name input {
  padding-left: 0.3rem;
  margin-bottom: 0.8rem;
}

.login-signup__container-inner-login__fields--password {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.login-signup__container-inner-login__fields--password input {
  padding-left: 0.3rem;
}

.login-signup__container-inner-login__fields--password label {
  font-size: calc(1.8rem + 0.1vw);
  letter-spacing: 0.2rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.login-signup__container-inner-login__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(20% + 9vh);
  justify-content: flex-start;
  width: 23%;
}

.login-signup__container-inner-login__button-container button {
  padding: 0.5rem;
  margin-bottom: 0.8rem;
  background-color: var(--tertiary-color);
  border: none;
  cursor: pointer;
  font-size: calc(1.2rem + 0.5vw);
  margin-top: 0.5rem;
}

.login-signup__container-inner-signup {
  padding: calc(0.5rem + 0.5vw);
}

.login-signup__container-inner-signup__header {
  display: flex;
  justify-content: center;
  width: 64%;
  border-bottom: 0.2rem solid black;
}

.login-signup__container-inner-signup__header h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1.5rem + 0.5vw);
}

.login-signup__container-inner-signup__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-signup__container-inner-signup__fields--name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: calc(0.4rem + 0.2vw);
}

.login-signup__container-inner-signup__fields--name label {
  font-size: calc(1.8rem + 0.1vw);
  letter-spacing: 0.2rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 1.2rem;
}

.login-signup__container-inner-signup__fields--name input {
  padding-left: 0.3rem;
  margin-bottom: 0.8rem;
}

.login-signup__container-inner-signup__fields--password {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.login-signup__container-inner-signup__fields--password input {
  padding-left: 0.3rem;
}

.login-signup__container-inner-signup__fields--password label {
  font-size: calc(1.8rem + 0.1vw);
  letter-spacing: 0.2rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.login-signup__container-inner-signup__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(20% + 9vh);
  justify-content: flex-start;
  width: 23%;
  margin-top: 1rem;
}

.login-signup__container-inner-signup__button-container button {
  padding: 0.5rem;
  margin-bottom: 0.8rem;
  background-color: var(--tertiary-color);
  border: none;
  cursor: pointer;
  font-size: calc(1.2rem + 0.5vw);
  margin-top: 0.5rem;
}

.login-signup__container .inner-container-active {
  transform: translateX(-50%);
  transition: all 0.8s ease-in-out;
}

.footer {
  grid-column: container-start / container-end;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer__container-medias {
  margin-top: calc(1rem);
  height: 40%;
  border-bottom: 0.2rem solid black;
}

.footer__container-medias--container {
  display: flex;
  justify-content: space-evenly;
}

.footer__container-medias--container-1, .footer__container-medias--container-2, .footer__container-medias--container-3 {
  width: 20%;
  height: 20%;
}

.footer__container-medias--container-1 img, .footer__container-medias--container-2 img, .footer__container-medias--container-3 img {
  width: 65%;
  height: 65%;
}

.footer__container-copyRight {
  margin-top: 1rem;
}

.footer__container-copyRight h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1.5rem + 0.5vh);
}
/*# sourceMappingURL=landing.css.map */